* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Buenard", serif;
}

.header-container {
  background-image: url(./images/laptop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}



.list-container {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 100px;
  font-size: 20px;
}

li {
  margin: 16px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(250, 111, 12);
}

a:hover {
  color: white;
}
.banner-container {
  text-align: center;
  padding-top: 100px;
}

.banner-content {
  font-size: 35px;
}

.btn-container {
  padding-top: 40px;
}

.btn {
  background-color:  rgb(205, 100, 25);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 13px;
  font-size: 20px;
}

.about-container {
  padding: 90px;
}

.about-title {
  text-align: center;
  padding: 50px;
  font-size: 30px;
  color: rgb(250, 111, 12);
}

.about-content {
  font-size: 20px;
  max-width: 1200px;
  text-align: center;
  margin: 0px auto;
}

.skill-container {
  padding: 60px;
}

.skill-title {
  color:   rgb(205, 100, 25);;
  text-align: center;
  padding-bottom: 60px;
  font-size: 30px;
}

.skill-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}


i {
  font-size: 60px;
}

.service-container {
  padding: 90px;
}

.service-title {
  text-align: center;
  padding-bottom: 60px;
  font-size: 30px;
  color:   rgb(205, 100, 25);;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 30%;
  height: 200px;
  background-color: black;
  color: white;
  border-radius: 30px;
  text-align: center;
  padding: 35px;
}

.contact-container{
padding: 60px;
}

.contact-flex{
display: flex;
justify-content: space-around;

}

.contact-info-single{
  padding: 20px;
}

/* contact form */
.form-container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
 max-width: 100%;
 width: 500px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-group textarea {
  height: 100px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color:   rgb(205, 100, 25);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color:   rgb(244, 119, 29);
}
